[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-rest-swagger = "*"
django-debug-toolbar = "*"
graphene-django = "*"
pipreqs = "*"

[dev-packages]

[requires]
python_version = "3.9"
